* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d9d9d9;
}


#app{
    height: 100vh;
    display: flex;
}

.boolzapp{
    width: 70vw;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
}

.side_bar{
    width: 400px;
}

.message{
    width: calc(100% - 400px);
}

.side_bar_top, .message_top{
    height: 60px;
}

.side_bar_bottom, .message_bottom{
    height: calc(100% - 60px);
}





/* #region debug */
.debug #app{
    background-color: #f0f0f0;
    border: 1px solid black;
}

.debug .boolzapp{
    background-color:pink;
}

.side_bar_top{
    border:1px solid green;
}

.side_bar_bottom{
    border:1px solid yellow;
}

.message_top{
    border: 1px solid blue;
}

.message_bottom{
    border: 1px solid purple;
}


/* #endregion debug */
