* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d9d9d9;
}


#app{
    height: 100vh;
    display: flex;
}

.boolzapp{
    width: 70vw;
    height: 90vh;
    justify-content: center;
}

.boolzapp_top{
    height: 50px;
}

.boolzapp_bottom{
    height: calc(100% - 50px);
}

.boolzapp_side_bar{
    width: 300px;
}

.boolzapp_message{
    width: calc(100% - 300px);
}




/* #region debug */
.debug #app{
    background-color: #f0f0f0;
    border: 1px solid black;
}

.debug .boolzapp{
    border: 1px solid black;
    background-color:pink;
}


.debug .boolzapp_top{
    background-color: lightyellow;
    border: 1px solid black;
}

.debug .boolzapp_side_bar{
    background-color: green;
    border: 1px solid black;
}

.debug .boolzapp_message{
    background-color: lightblue;
    border: 1px solid black;
}

/* #endregion debug */
