/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    margin: auto;
}

body{
    background-color: #d9d9d9;
}

#app{
    height: 100vh;
    display: flex;
}

.boolzapp{
    width: 70vw;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
}

.side_bar_top, .message_top{
    height: 60px;
}

.side_bar_bottom, .message_bottom{
    height: calc(100% - 60px);
}
/* #endregion common */

/* #region side_bar */

.side_bar{
    width: 400px;
}

.side_bar img{
    max-width: 50px;
    border-radius: 50%;
}

/* #endregion side_bar */

/* #region messages */

.messages{
    width: calc(100% - 400px);
}

.message_bottom{
    background-image: url('../img/mine.jpg');
}
/* #endregion messages */






/* #region debug */
.debug #app{
    background-color: #f0f0f0;
    border: 1px solid black;
}

.side_bar_top{
    border:1px solid green;
}

.side_bar_bottom{
    border:1px solid orangered;
}

.message_top{
    border: 1px solid blue;
}

.message_bottom{
    border: 1px solid purple;
}

.side_bar img{
    border: 1px solid red;
}


/* #endregion debug */
